:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-text-color-theme-dark: #212121;
    --secondary-text-color-theme-dark: #757575;
    --primary-text-color-theme-light: #FFFFFF;
    --secondary-text-color-theme-light: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
}
    
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}
body {
    font-family: var(--primary-font-family);
    color: var(--primary-text-color-theme-dark)
}
/* ========components======= */
.logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo-theme-dark{
font-family: var(--secondary-font-family);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--primary-text-color-theme-dark)
}
.logo-theme-light {
font-family: var(--secondary-font-family);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
/*color: var(--primary-text-color-theme-light)*/
}

/* ========/components======= */

/* ========header======= */

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;  
}
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}
.contact-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    
}
.contact-mail:hover,
.contact-mail:focus {
    color: var(--accent-color);
}
.contact-phone-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color-theme-dark)
}
/* ========/header======= */

/* ========hero======= */
.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    /*color: var(--primary-text-color-theme-light)*/
}
.modal-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    /* color: var(--primary-text-color-theme-light)*/
}
/* ========/hero======= */
/* ========servicec======= */
.subtitle{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}
.description { 
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: var(--secondary-text-color-theme-dark)
}

/* ========/servicec======= */
/* ========about======= */
.title-description{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
}
.subtitle-name
{   font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    
}
.description-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--secondary-text-color-theme-dark)
}
/* ========about/======= */

/* ========footer ======= */
.contact-map {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    /*color: var(--primary-text-color-theme-light)*/
}
.contact-addres {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    /*color: var(--secondary-text-color-theme-light)*/
}
/* ========footer/======= */

/* ========filter======= */
.btn-name {
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    
    color: var(--primary-text-color-theme-dark)
}
.btn-name:hover,
.btn-name:focus {
    color: var(--primary-text-color-theme-light);
}
/* ========filter/======= */

/* ========portfolio======= */
.subtitle-portfolio {
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    
    color: var(--primary-text-color-theme-dark)
}
.description-portfolio {
    font-family: var(--primary-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    
    color: var(--secondary-text-color-theme-dark)
}

/* ========potffolio======= */


